*.pyc
*.conf
*.ini
*.log

.idea/
.venv/

.DS_Store
.settings/
.project
.pydevproject

# Zeuz Node specific ignores
Framework/settings.conf
AutomationLog/
iosSimulator/*

# Nodejs gitignore
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
