pip
psutil
pillow
pyserial
colorama
numpy
simplejson
urllib3
selenium
python-dateutil
pyodbc
requests
wheel
pyautogui
Appium-Python-Client
uiautomator
lxml
tzlocal
futures
xlwings
image
tzlocal
pyautocad
PyPDF2
pyshortcuts
datefinder
regex
pyttsx3
pyaudio
imutils
scikit-image
opencv-python
opencv-contrib-python
https://github.com/AutomationSolutionz/PyGetWindow-0.0.5/archive/master.zip
appscript
webdrivermanager
