pip
clint
pillow
setuptools
pyserial
simplejson
urllib3
selenium
uiautomator
requests
wheel
pyautogui
opencv-python
lxml
SpeechRecognition
colorama
pyodbc
python-dateutil
Appium-Python-Client
xlwings
image
tzlocal
pyautocad
PyPDF2
imutils
pyshortcuts
datefinder
regex
pyttsx3==2.71
wmi
pyautoit
winshell
webdriver-manager
jsonschema
webcolors
jsonpointer
rfc3339-validator
rfc3986-validator
pyrsistent
attrs
pytest==6.1.2
yapf
websocket-client
tqdm
pyscreenshot
pyyaml
psutil
pywin32
pythonnet
keyboard
mouse
imap-tools
rich
beautifulsoup4
premailer
html-diff
openpyxl
pytesseract
pdf2image
