amqp==1.4.9
anyjson==0.3.3
Appium-Python-Client==0.48
asgiref==3.2.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
Django==3.0
django-celery==3.3.1
dropbox==9.4.0
idna==2.8
kombu==3.0.37
lxml==4.4.2
Pillow==6.2.1
psutil==5.6.7
PyAutoIt==0.6.0
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
selenium==3.141.0
six==1.13.0
sqlparse==0.3.0
tk==0.1.0
tzlocal==2.0.0
urllib3==1.25.7
