pip
psutil
pillow
pyserial
python-dateutil
urllib3
selenium
uiautomator
requests
wheel
colorama
Appium-Python-Client
lxml
pyscreenshot
image
tzlocal
pyautocad
imutils
datefinder
regex
pyttsx3
webdriver-manager
jsonschema
jsonpointer
rfc3339-validator
rfc3986-validator
idna
pyrsistent
attrs
pytest==6.1.2
yapf
websocket-client
tqdm
pyscreenshot
pyyaml
pyautogui
opencv-python
imap-tools
keyboard
mouse
rich
beautifulsoup4
premailer
html-diff
PyPDF2
