pip
psutil
pillow
pyserial
python-dateutil
numpy
urllib3
selenium
uiautomator
requests
wheel
colorama
pyodbc
pyautogui
Appium-Python-Client
lxml
pyscreenshot
futures
image
tzlocal
pyautocad
PyPDF2
imutils
scikit-image
opencv-python
opencv-contrib-python
pyshortcuts
datefinder
regex
pyttsx3
