pip
psutil
pillow
pyserial
colorama
simplejson
urllib3
selenium
python-dateutil
pyodbc
requests
wheel
pyautogui
Appium-Python-Client
uiautomator
lxml
tzlocal
futures
xlwings
image
tzlocal
pyautocad
PyPDF2
pyshortcuts
datefinder
regex
pyttsx3
pyaudio
imutils
https://github.com/AutomationSolutionz/PyGetWindow-0.0.5/archive/master.zip
appscript
webdriver_manager
jsonschema
webcolors
jsonpointer
rfc3339-validator
rfc3986-validator
idna
pyrsistent
attrs
pytest==6.1.2
