Appium-Python-Client==0.50
selenium==3.141.0
uiautomator==0.3.6
clint==0.5.1
colorama==0.4.3
datefinder==0.7.0
image==1.5.27
locustio==0.13.5
lxml==4.4.2
numpy==1.18.0
Pillow==6.2.1
playsound==1.2.2
pyautocad==0.2.0
PyAutoGUI==0.9.48
PyPDF2==1.26.0
pyserial==3.4
pyshortcuts==1.7
python-dateutil==2.8.1
pyttsx3==2.81
realbrowserlocusts==0.4
regex==2020.2.20
requests==2.22.0
simplejson==3.17.0
speech==0.5.2
SpeechRecognition==3.8.1
tzlocal==2.0.0
urllib3==1.25.7
xlwings==0.16.4
