pip
psutil
pillow
pyserial
python-dateutil
urllib3
selenium
uiautomator
requests
wheel
colorama
pyodbc
Appium-Python-Client
lxml
pyscreenshot
futures
image
tzlocal
pyautocad
PyPDF2
imutils
pyshortcuts
datefinder
regex
pyttsx3
webdrivermanager
jsonschema
webcolors
jsonpointer
rfc3339-validator
rfc3986-validator
idna
pyrsistent
attrs
