Appium-Python-Client
uiautomator
clint
colorama
datefinder
image
locustio
lxml
numpy
Pillow
playsound
pyautocad
PyAutoGUI
PyPDF2
pyserial
pyshortcuts
python-dateutil
pyttsx3
realbrowserlocusts
regex
requests
simplejson
speech
SpeechRecognition
tzlocal
urllib3
xlwings
